*~
*.swp
.vscode/**
src/**
test/**
types/**
.gitignore
.eslintrc*
eslint.config.mjs
.prettierrc.json
tsconfig.json
tsconfig.webview.json
vitest.config.mts
build-webview.mjs
Makefile
**/*.map
*.vsix
.nyc_output/**
coverage/**
node_modules/**
package-lock.json